<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css' />
    <title>Recipe Finder</title>
</head>

<body>
    <h1 class="text-center">Recipe Finder (version 6.0)</h1>
    <form action="/search" method="POST" class="text-center">
        <label for="ingredients" class="me-5">Enter Ingredients (comma-separated):</label>
        <input type="text" name="ingredients" id="ingredients"> <br>
        <input type="submit" value="Search" class="btn btn-primary">
    </form>

</body>

</html>